







	
body	{
			/*font-family : 'Aguafina Script', cursive;  */
			color : #a0872c;
			size : 15;
		}
		
h1		{
			font-family : 'Aguafina Script', cursive;
			color : #d8b424;
		}
		
h2		{
	
			color : #d8b424;
		}
		
h3		{
			color : #d8b424;
		}
		
td		{
			text-indent : 50px;
			font-size : 20;
		}
		
		
.ital	{
			font-style : italic;
		}
		
td		{
			font-style : italic;
		}
		
table	{
			background-color : #21262d;
		}

		
@font-face	{
	
				font-family : 'Aguafina Script', cursive;
				font-style : normal;
				font-weight : 60;
				src : url("https://fonts.googleapis.com/css?family=Aguafina+Script|Share+Tech+Mono");
	
			}
			


			
a			{
				
				text-decoration : none;
				
			}


a:link		 {
	
				text-decoration : none;
				color : white;
				
			}


a:visited	{
	
				color : green;
				
			}


a:hover		{
	
				text-decoration : underline;
				background-color : white;
				color : black;
				
			}


a:active	{
	
				text-decoration : none;
				
			}









































