


body	{
			background-color : #f4ce42;
		}
		
		
footer 	{
			font-weight : bold;
			background-color : #fff;
		}
		
		
		
header	{
			
			font-size : 24px;
			color : blue;
			background-color : #fff;
		}
		
table	{
			background-color : #f47d42;
		}


th		{
			text-align : center;
			font-size : 40;
		}
		
		

td		{
			text-align : center;
		}

		
		
@font-face	{
				font-family : 'Aguafina Script', cursive;
				font-style : normal;
				font-weight : 60;
				src : url(https://fonts.googleapis.com/css?family=Slackey);
			}
			
			
			
h1		{
			font-family : 'Slackey', cursive;
		}
		
		
.fix 	{
			font-family : 'Slackey', cursive;
		}
		
.nojs 	{
			color 		: red;
		}
		
		
a			{
				
				text-decoration : underline;
				
			}


a:link		 {
	
				text-decoration : underline;
				
			}


a:visited	{
	
				text-decoration : underline;
				
			}


a:hover		{
	
				font-weight : bold;
				
			}


a:active	{
	
				text-decoration : none;
				
			}
